body {
  background-color: #E5E5E5;
  overflow: hidden;
  height: 100%;
}

.backpage {
  background-color: #ffffff;
  width: 850px;
  margin: 0 auto;
  margin-top: 64px;
  
}

.mainpage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: 0;
}

.color1 {
  background-color: rgba(255, 0, 0, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black;
}
.color2 {
  background-color: rgba(0, 128, 0, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black;
}

.color3 {
  background-color: rgba(0, 0, 255, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.color4 {
  background-color: rgba(255, 255, 0, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.color5 {
  background-color: rgba(255, 255, 255, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black;
}

.color6 {
  background-color: rgba(238, 130, 238, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.color7 {
  background-color: rgba(211, 211, 211, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.color8 {
  background-color: rgba(255, 105, 180, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.color9 {
  background-color: rgba(135, 206, 250, 0.65);
  height: 120px;
  width: 120px;
  margin: 0 24px 24px 0;
  outline: 4px solid black
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  color: darkcyan;
  border: none;
  border-radius: 50%;
}

.button:hover {
  cursor: none;
}

.color5 img {
  display: inline-block;
  width: 100px;
  height: 100px;
  pointer-events: visibleFill;
}

/* Курсор */

.cursor {
  display: none;
  height: 24px;
  width: 24px;
  position: absolute;
  z-index: 9999;
  transform: translateY(-50%) translateX(-50%);
  transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  pointer-events: none;
  fill: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.cursor_active {
  height: 50px;
  width: 50px;
  background: 0 (0, 0, 0, 0.42);
}